@tailwind base;
@tailwind components;
@tailwind utilities;

*{

}
body{
    /* width: 1280px;
    padding-top: 68px; */
}

h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* color: var(--white); */
}
h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* color: var(--darkgrey); */
}

a {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* color: var(--white); */
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* color: var(--bluedark) */
}

span{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

header {
    /* width: 1280px; */
    /* background-color: var(--darkgrey); */
    /* align-items: center;
    justify-content: space-between; */
    /* padding: 14px 40px; */
    /* position: fixed;
    top: 0;
    z-index: 2; */
}

/* .logo {
    gap: 7.33px;
    align-items: center;
} */

/* .logo>p {
    color: var(--white);
    font-size: 23.46px;
    font-weight: 400;
} */

/* .iconlogo {
    width: 20.2px;
    height: 24.95px;
    background-image: url("../src/assets/cup.png");
} */

/* ul {
    gap: 16px;
    justify-content: space-around;
    align-items: center;
} */

/* li {
    list-style: none;
} */

/* nav li>a {
    padding: 8px;
} */

/* nav li>a:hover {
    background-color: #f7f5f31a;
    border-radius: 8px;
} */

/* .telfyboton {
    align-items: center;
    gap: 24px;
} */

/* .phonenumber {
    align-items: center;
    gap: 8px;
} */

/* .phonenumber>p {
    color: var(--white);
    font-weight: 600;
} */

/* .iconphone,
.icontienda {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Icon.png");
} */

/* .telfyboton>a:last-child {
    boton iniciar sesion
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    background-color: var(--grey);
} */

/* .icontienda {
    background-image: url("../assets/Carr.png");
} */

/* .counter-float>a{
    gap: 8px;
}
.counter-float>a>p{
    background-color: var(--blackTransparent);
    color: var(--white);
    align-items: center;
    justify-content: center;
    border-radius:50px;
    width: 24px;
    height: 24px;
} */





/* .section1 {
    align-items: center;
    padding: 48px 40px;
    gap: 24px;
    background: #E3DED74D;
} */

/* .article1 {
    flex-direction: column;
    gap: 16px;
} */

/* .section1 h3 {
    color: var(--green)
} */
/* 
.buttons {
    justify-content: flex-start;
    gap: 16px;
}

.buttons>a:first-child,
.buttons>a:last-child {
    background: var(--black);
    border-radius: 4px;
    padding: 12px 24px;
}

.buttons>a:last-child {
    background: var(--green);
} */




/* ------------aquí empieza la hoja 2 ( 3 card con café de fondo)------------------------------------ */
.section2 {
    /* padding: 48px 142px;
    flex-direction: column;
    gap: 24px; */
    /* text-align: center; */
    /* background-image: url("../assets/fondo2.jpg");
    background-size: cover;
    background-position: center center; */
}

/* .cards {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
} */

.card {
    /* width: 316px;
    height: 232px; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 16px;
    border-radius: 8px;
    background-color: var(--white); */
}

/* .logocard1,
.logocard2,
.logocard3 {
    width: 64px;
    height: 64px;
    background-image: url("../assets/icon1-card1.png");
}

.logocard2 {
    background-image: url("../assets/icon2-card2.png");
}

.logocard3 {
    background-image: url("../assets/icon3-card3.png");
} */



/* -------aquí empieza la hoja 3 (card 4 bolsas de café)------------------------------------------------ */
/* .section3 {
    gap: 24px;
    padding: 40px;
} */

/* .section3, */
/* .imgn, */
/* .bag1, */
/* .price  */
/* .bag2,
.bag3,
.bag4
{
    flex-direction: column;
    align-items: center;
} */

/* .section3>h2 {
    color: var(--green);
} */

/* .cards2 {
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
} */

.imgn {
    /* gap: 24px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--taupe); */
    transition: background-color 0.2s ease-in-out;
}

/* .bag1,
.bag2,
.bag3,
.bag4,
.bag5,
.bag6,
.bag7,
.bag8 {
    width: 219.39px;
    height: 219.39px;
    justify-content: center;
}

.bag1 {
    background-image: url("../assets/Coffee\ bag.png");
}

.bag2 {
    background-image: url("../assets/Coffee\ bag2.png");
}

.bag3 {
    background-image: url("../assets/Coffee\ bag3.png");
}

.bag4 {
    background-image: url("../assets/Coffee\ bag4.png");
} */

/* .cards2 .imgn:hover {
    background-color: var(--taupe);
} */

/* .cards2 .imgn:hover .buttonAñadir {
    background-color: var(--green);
} */
/* 
.price {
    gap: 12px;
} */

/* .price>a,
.price>p {
    color: var(--darkgrey)
} */

.buttonAñadir {
    /* padding: 8px; */
    /* background-color: var( --green70); */
    /* border-radius: 4px; */
    /* color: var(--white); */
    /* border: none; */
}

/* .link {
    align-items: center;
    gap: 16px;
} */

/* .link>p {
    font-weight: 600;
    color: black;
    text-decoration: underline;
} */

/* .arrow {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Arrow\ narrow\ right\ \(1\).png");
} */



/* -----------------------aquí empieza la hoja 4 (preguntas FAQ)----------------------------------------- */
/* .section4 {
    flex-direction: column;
    align-items: center;
    padding: 48px 0px;
    background-color: var(--green);
    gap: 24px;
} */

/* .faq,
.question {
    flex-direction: column;
    gap: 16px;
}

.question {
    width: 668px;
    background-color: var(--white);
    padding: 24px;
    border-radius: 10px;
} */

/* .titleicon {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--taupe);
    padding-bottom: 16px;
} */

.lol {
    /* border-bottom: none;
    padding-bottom: 0px; */
}

/* .chevron {
    width: 20px;
    height: 20px;
    background-image: url("../assets/Chevron\ up.png");
} */

.chevronDown {
    /* background-image: url('../assets/Chevron\ down.png'); */
}

/* .question>p {
    font-size: 12px;
    color: var(--darkgrey);
} */

/* .link2 {
    flex-direction: row;
    align-items: center;
    gap: 16px;
} */

/* .link2>p {
    font-weight: 600;
    color: var(--white);
    text-decoration: underline;
} */

.link2>.arrow {
    /* background-image: url("../assets/Arrow\ narrow\ right\ white.png"); */
}



/* ---------------------------aquí empieza la hoja 5 (coffebar)--------------------------------------------------- */
section:nth-of-type(5) {
    /* justify-content: space-between;
    gap: 0px; */
}

section:nth-of-type(5)>.article1>h2 {
    /* color: var(--green); */
}

section:nth-of-type(5)>.article1 {
    /* width: 457px; */
}

section:nth-of-type(5) p {
    /* color: black;

    padding: 4px 0px; */
}

/* ----------------aquí empieza la hoja 6 (formulario)-------------------- */
.split {
    flex-direction: row;
    padding: 0 40px;
    gap: 24px;
    background-color: var(--taupe);
}

.split p,
.split a {
    color: #6B7280;
}

.direction>p:last-child>a {
    text-decoration: underline;
}

.contac {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.titulo {
    flex-direction: column;
    gap: 16px;
}

.titulo>h3 {
    color: var(--bluedark);
}

.direction,
.details {
    flex-direction: column;
    gap: 24px;
}

.details {
    gap: 12px;
}

.cellphone,
.email {
    align-items: center;
    gap: 12px;
}

.formulario {
    background-color: var(--white);
    flex-direction: column;
    justify-content: center;
    padding: 32px 51px 32px 67px;
}

.general {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.nombre {
    flex-direction: column;
    gap: 4px;
}

.coment {
    flex-direction: column;
}

.formulario input {
    width: 470px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
}
.formulario input:hover,
textarea:hover {
    border: 1px solid #9B9EA3;
}
.formulario input:focus,
textarea:focus {
    outline: 2px solid #3F8F6B;
}

.selectnumber {
    width: 470px;
}

.selectnumber input {
    border-radius: 6px;
    padding: 9px 13px 9px 66px;
    background-color: transparent;
}

.selectnumber select {
    height: 36.4px;
    border: none;
    background-color: transparent;
    outline: none;
    position: absolute;
    padding: 0px 5px 0px 13px;
    z-index: 1;
}

textarea {
    width: 470px;
    height: 122px;
    border-radius: 6px;
    padding: 13px 17px;
    border: 1px solid #D1D5DB;
}

.check {
    gap: 12px;
}

.check input:first-child {
    /* padding: 0px; */
    width: 16px;
    height: 16px;
    border: 5px solid #D1D5DB;
    border-radius: 4px;
    accent-color: var(--green);
    border: 1px solid red ;
}

.check input:focus {
   outline: none;
}

.general>input:last-child {
    width: inherit;
    padding: 12px 24px;
    border-radius: 4px;
    background-color: var(--green);
    border: none;
    color: var(--white);
}

/* ----------------aquí empieza la hoja 7 (footer)-------------------- */

footer {
    /* flex-direction: column;
    justify-content: center; */
}

footer h3 {
    /* color: var(--white); */
}

.footerwrapper {
    /* flex-direction: column;
    justify-content: center;
    gap: 16px;
    background: var(--black);
    padding: 28.61px 0px 37.73px 40px; */
}

.links {
    /* flex-direction: row; */
    /* align-items: center; */
}

.contacwrapper {
    /* flex-direction: column;
    gap: 16px; */
}

.contacwrapper .telfyboton .phonenumber {
    /* background-color: var(--grey);
    padding: 12px 24px;
    border-radius: 4px; */
}

.contacwrapper .telfyboton:last-child .iconphone {
    /* background-image: url("../assets/Mail-white.png"); */
}

.linkfooter {
    /* gap: 128px; */
}

.menuwrapper>ul {
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
}

.grid {
    /* display: grid; */    
    /* grid-template-columns: 0.93fr 1.07fr; */
}

.copyright {
    /* background-color: var(--darkgrey);
    color: var(--white);
    padding: 12px 0px;
    text-align: center; */
}


/*************************************************STORE**************************/

/* .bag5 {
    background-image: url("../assets/Coffee\ bag5.png");
}
.bag6 {
    background-image: url("../assets/Coffee\ bag6.png");
}
.bag7 {
    background-image: url("../assets/Coffee\ bag7.png");
}
.bag8 {
    background-image: url("../assets/Coffee\ bag4.png");
}
.sec3 {
    padding-top: 24px;
} */

/* *******************************************  BASKET  ******************************************* */
.basket-inicial {
    /* padding: 40px;
    border: 1px solid red;
    padding: 24px;
    gap: 24px;
    flex-direction: column;
    align-items: center; */
}
.basket-inicial>h2 {
    /* color: var(--green); */
}
.basket-inicial>h2>span {
    /* font-weight: 500; */
    /* font-size: 24px;
    line-height: 28px;
    color: var(--green); */
}

.basket-body{
    /* width: 1200px; */
    /* gap: 24px; */
}

.basket-product-table{
    /* flex-direction: column;
    gap: 24px;
    padding: 8px; */
    /* border: 2px solid gold; */
}
.coffebag{
    /* min-height: 179px; */
    /* flex-direction: column; */
    /* gap: 24px; */
}
.product{
    /* flex-direction: row;
    gap: 24px; */
    /* justify-content: space-between; */
}
.basket-counter{
    /* align-items: center;
    gap: 8px; */
}

.basket-menos{
    /* background-image: url('../assets/menos.png');
    width: 25px;
    height: 25px; */
}
.basket-counter>p{
    /* align-items: center;
    justify-content: center;
    border-radius:50px;
    width: 24px;
    height: 24px;
    color: var(--green);
    background-color: var(--greentransparen); */
}
.basket-mas{
    /* background-image: url('../assets/mas.png');
    width: 25px;
    height: 25px; */
}

.basket-bag{
    /* background-image: url('../assets/Coffee\ bag2.png');
    width: 55.66px;
    height: 55.66px;
    background-size: contain; */
}

.basket-details{
    /* gap:4px;
    width: 506.34px; */
}
.basket-details> a{
        /* color: var(--blackOriginal); */
}

.basket-divider{
    /* background-color: var(--taupe); */
    /* height: 1px; */
}

.basket-shipping{
    /* align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 800px; */
}
.shipping-input>input{
    /* width: 16px;
    height: 16px;
    accent-color: var(--green); */
}
.shipping-input{
    /* gap: 16px;
    align-items: center; */
}

.basket-total {
    /* flex-direction: column;
    gap: 16px;
    padding: 24px;
    width: 384px;
    height: 280px;
    background-color: var(--whiteOff); */
}
.details-total{
    /* flex-direction: column;
    justify-content: center;
    gap: 16px; */
}
.subtotal{
    /* justify-content: space-between; */
}
.subtotal:last-child> p {
    /* font-weight: 600; */
}
.total{
    /* flex-direction: column;
    align-items: flex-end;
    gap: 8px; */
}

.total>p>span{
    /* font-weight: 400;
    font-size: 12px; */
}
.buttons a:first-child{
    /* background-color: var(--green); */
}
.buttons a:last-child{
    /* background-color: var(--whiteOff);
    color: var(--green); */
}